@import "bootstrap-sprockets";
@import "bootstrap";

 .nav {
   width: 100%;
   background-image: url("background.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   height: 350px;
   position: relative;
   margin-bottom: 20px;
}

.nav a {
  position: absolute;
  text-align: center;
  top: 100px;
  width: 100%;
  font-family: 'Cinzel', serif;
  font-size: 100px;
  color: #cecece;
  background-color:rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

body {
  padding-bottom: 100px;
  background-color: #181e1c;
  color: #345147;
  font-family: 'PT Serif', serif;
}

h1, h2 {
  color: black;
  font-weight: bold;
}

.all ul {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

.links li {
  font-size: 15px;
  list-style: none;
  display: inline;
  padding: 10px;
  float: right;
}
ul {
  list-style: none;
  font-size: 20px;

}

a {
  color: #345147;
  font-size: 20px;
}

hr {
  border: 1px solid black;
}
